# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caché
*.sqlite3
*.pyc

# Configuraciones de IDEs
.idea/
.vscode/

# Archivos de log
*.log

# Archivos estáticos y media
/media/

# Archivos de entornos virtuales
venv/
env/

# Archivos de dependencias
/venv/
/pipenv/
/pipfile.lock

# Archivos de compilación y paquetes
/build/
/dist/
*.egg-info/
*.egg
*.whl

**/migrations/**
!**/migrations/__init__.py