{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Detalles del Tens {{ object.nombre }}</h1>
    <hr>
    <dl class="row">
      <dt class="col-sm-3">Nombre:</dt>
      <dd class="col-sm-9">{{ object.nombre }}</dd>
      
      <dt class="col-sm-3">RUT:</dt>
      <dd class="col-sm-9">{{ object.dni }}</dd>
      
      <dt class="col-sm-3">Fecha de Nacimiento:</dt>
      <dd class="col-sm-9">{{ object.fecha_nacimiento|date:"d/m/Y" }}</dd>
      
      <dt class="col-sm-3">Correo Electrónico:</dt>
      <dd class="col-sm-9">{{ object.email }}</dd>
      
      <dt class="col-sm-3">Teléfono:</dt>
      <dd class="col-sm-9">{{ object.telefono }}</dd>
      
      <dt class="col-sm-3">Profesión:</dt>
      <dd class="col-sm-9">{{ object.profesion }}</dd>
    </dl>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <a href="{% url 'personal:tens-update' pk=object.pk %}" class="btn btn-primary">Editar</a>
        <a class="btn btn-danger" href="{% url 'personal:tens-delete' pk=object.pk %}">Eliminar</a>
        <a class="btn btn-success" href="{% url 'personal:tens-list' %}">Volver a la lista de tens</a>
      </div>
    </div>
  </div>
{% endblock %}
