{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Reserva</h2>
  <h1>{{ title }}</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.ambulancia.id_for_label }}">Ambulancia:</label>
      {{ form.ambulancia }}
    </div>
    <div class="form-group">
      <label for="{{ form.chofer.id_for_label }}">Chofer:</label>
      {{ form.chofer }}
    </div>
    <div class="form-group">
      <label for="{{ form.tens.id_for_label }}">Tens:</label>
      {{ form.tens }}
    </div>
    <div class="form-group">
      <label for="{{ form.fecha_inicio.id_for_label }}">Fecha de inicio:</label>
      {{ form.fecha_inicio }}
    </div>
    <div class="form-group">
      <label for="{{ form.fecha_fin.id_for_label }}">Fecha de fin:</label>
      {{ form.fecha_fin }}
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  <a class="btn btn-success" href="{% url 'reserva:asignacion-list' %}">Volver a la lista de reservas</a>
</div>
{% endblock %}
